<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public_html/static/css/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="../../public_html/static/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public_html/static/css/global/fonts.css" />
    <link rel="stylesheet" href="../../public_html/static/css/global/reset.css" />
    <link rel="stylesheet" href="../../public_html/static/css/global/style.css" />
    <link rel="stylesheet" href="../../public_html/static/css/cadastrar/cadastrar.css" />
    <title>Academia Cadastro</title>
</head>

<body>
    <section class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <h2 class="text-uppercase text-center font-size-30 montserrat-bold-italic">
                    Cadastro usuário
                </h2>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <form id="cadastrarUsuario" class="col-10 mt-5">
                <div class="row justify-content-center">
                    <div class="col-12 mb-4">
                        <label for="usuario"
                            class="form-label montserrat-bold-italic font-size-18 text-uppercase">Login</label>
                        <input type="text" class="form-control rounded-pill" id="usuario" />
                    </div>
                    <div class="col-12 mb-4">
                        <label for="senha"
                            class="form-label montserrat-bold-italic font-size-18 text-uppercase">Senha</label>
                        <input type="password" class="form-control rounded-pill" id="senha" />
                    </div>
                    <div class="col-12 mb-4">
                        <label for="nome"
                            class="form-label montserrat-bold-italic font-size-18 text-uppercase">Nome</label>
                        <input type="text" class="form-control rounded-pill" id="nome" />
                    </div>
                    <div class="col-12 mb-4">
                        <label for="endereco"
                            class="form-label montserrat-bold-italic font-size-18 text-uppercase">Endereço</label>
                        <input type="text" class="form-control rounded-pill" id="endereco" />
                    </div>
                    <div class="col-12 mb-4">
                        <label for="telefone"
                            class="form-label montserrat-bold-italic font-size-18 text-uppercase">Telefone</label>
                        <input type="text" class="form-control rounded-pill maskTelefone" id="telefone" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 mb-4">
                        <label for="peso" class="form-label montserrat-bold-italic font-size-18 text-uppercase">Peso</label>
                        <input type="text" class="form-control rounded-pill maskPeso" maxlength="6" id="peso"/>
                    </div>
                    <div class="col-6 mb-4">
                        <label for="altura" class="form-label montserrat-bold-italic font-size-18 text-uppercase">Altura</label>
                        <input type="text" class="form-control rounded-pill maskAltura"  maxlength="4"  id="altura"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-6 px-0">
                        <div class="row">
                            <div class="col-auto form-check form-check-reverse">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="cadastroAluno" />
                                <label
                                    class="form-check-label mt-1 ps-3 pe-2 montserrat-bold-italic font-size-18 text-uppercase"
                                    for="cadastroAluno">
                                    Aluno
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 px-0 text-start">
                        <div class="row">
                            <div class="col-auto form-check form-check-reverse align-self">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="cadastroProfessor" />
                                <label
                                    class="form-check-label mt-1 ps-3 pe-2 montserrat-bold-italic font-size-18 text-uppercase"
                                    for="cadastroProfessor">
                                    Professor
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 mt-5 text-center">
                        <button type="button" id="btnCadastrar" class="btn btn-padrao rounded-pill">
                            Cadastrar
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-8 mt-4 text-center">
                        <button type="button" id="btnCancelarCadastrar" class="btn btn-cancelar-padrao rounded-pill">
                            Cancelar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <script src="../../public_html/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../public_html/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../../public_html/static/js/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="../../public_html/static/js/jquery/jquery-3.6.2.js"></script>
    <script src="../../public_html/static/js/jquery/jquery.mask.js"></script>
    <script src="../../public_html/static/js/global/mascaras.js"></script>
    <script src="../../public_html/static/js/global/funcoes.js"></script>
    <script src="../../public_html/static/js/cadastro/cadastro.js"></script>
</body>

</html>