<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public_html/static/css/bootstrap/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="../../public_html/static/css/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="../../public_html/static/css/global/fonts.css" />
  <link rel="stylesheet" href="../../public_html/static/css/global/reset.css" />
  <link rel="stylesheet" href="../../public_html/static/css/global/style.css" />
  <link rel="stylesheet" href="../../public_html/static/css/treinos/treinos.css" />
  <title>Academia Cadastro</title>
</head>

<body>
  <header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-auto px-0">
                    <button type="button" id="btnVoltarTelaHome"><em class="fa-solid fa-arrow-left fa-2xl text-white"></em></button>
                </div>
                <div class="col-auto ms-auto me-auto text-center">
                    <span class="navbar-brand mb-0 me-3 h1 montserrat-bold-italic font-size-30 text-white text-center w-100">Treinos</span>
                </div>
            </div>
        </div>
    </nav>
  </header>
  <section class="container">
    <div class="row justify-content-center mt-5">
      <form id="formTabelaAlunos" class="col-10 mt-3">
        <div class="row justify-content-center">
          <div class="col-12 mb-4">
            <label for="nomeAparelho" class="form-label montserrat-bold-italic font-size-18 text-uppercase">Aparelho</label>
            <input type="text" class="form-control rounded-pill" id="nomeAparelho" />
          </div>
        </div>
        <div class="row">
          <div class="col-auto mb-4">
            <label for="numeroRepeticoes" class="form-label montserrat-bold-italic text-center font-size-18 text-uppercase">Repetições</label>
            <input type="number" class="form-control rounded-pill" id="numeroRepeticoes" />
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-8 text-center">
            <button type="button" id="btnCadastrarTreino" class="btn btn-primary btn-padrao rounded-pill">
              Cadastrar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row justify-content-center mt-5">
      <table id="tabAlunos" class="table table-striped bg-light">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nome Aparelho</th>
            <th class="text-center" scope="col">Repetições</th>
            <th class="text-center" scope="col">Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td class="text-center">23</td>
            <td class="text-center"><em class="fa-solid fa-circle-xmark fa-lg text-danger"></em></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Thornton</td>
            <td class="text-center">24</td>
            <td class="text-center"><em class="fa-solid fa-circle-xmark fa-lg text-danger"></em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <script src="../../public_html/static/js/bootstrap/bootstrap.min.js"></script>
  <script src="../../public_html/static/js/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../../public_html/static/js/fontawesome/js/all.min.js"></script>
  <script src="../../public_html/static/js/global/funcoes.js"></script>
  <script src="../../public_html/static/js/treinos/treinos.js"></script>
</body>

</html>