<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../static/css/global/fonts.css">
  <link rel="stylesheet" href="../static/css/global/reset.css">
  <link rel="stylesheet" href="../static/css/global/style.css">
  <title>Academia Cadastro</title>
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 montserrat-bold-italic font-size-30 text-white text-center w-100">Bem vindo</span>
      </div>
    </nav>
  </header>
  <main class="container">
    <section class="pb-5">
    <div class="row justify-content-center mt-5">
      <div class="col-4 text-center mb-4">
        <label for="homeImc" class="form-label montserrat-bold-italic font-size-18 text-uppercase">IMC Atual</label>
        <input type="text" class="form-control rounded-pill" id="homeImc">
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-4 text-center mb-4">
        <label for="homePeso" class="form-label montserrat-bold-italic font-size-18 text-uppercase">Peso</label>
        <input type="text" class="form-control rounded-pill" id="homePeso">
      </div>
      <div class="col-4 offset-2 text-center mb-4">
        <label for="homeAltura"
          class="form-label montserrat-bold-italic font-size-18 text-uppercase">Altura</label>
        <input type="text" class="form-control rounded-pill" id="homeAltura">
      </div>
    </div>
    </section>

    <section class="mt-5 pt-5">
      <div class="row mt-3">
        <div class="col-4 text-center mb-4">
          <button type="button" class="btn btn-menu"><em class="fa-solid fa-users fa-lg"></em></button>
          <label for="homePeso" class="form-label montserrat-bold-italic text-uppercase text-uppercase mt-3">Alunos</label>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-4 text-center mb-4">
          <button type="button" class="btn btn-menu"><em class="fa-solid fa-user fa-lg"></em></button>
          <label for="homePeso" class="form-label montserrat-bold-italic text-uppercase text-uppercase mt-3">Perfil</label>
        </div>
        <div class="col-4 text-center mb-4">
          <button type="button" class="btn btn-menu"><em class="fa-solid fa-dumbbell fa-lg"></em></button>
          <label for="homePeso" class="form-label montserrat-bold-italic text-uppercase text-uppercase mt-3">Treinos</label>
        </div>
        <div class="col-4 text-center mb-4">
          <button type="button" class="btn btn-menu"><em class="fa-solid fa-file-lines fa-lg"></em></button>
          <label for="homePeso" class="form-label montserrat-bold-italic text-uppercase text-uppercase mt-3">Relatorios</label>
        </div>
      </div>
    </section>
  </main>

  <script src="../static/js/global/funcoes.js"></script>
  <script src="../static/js/fontawesome/js/all.min.js"></script>
  <script src="../static/js/cadastro/cadastro.js"></script>
  <script src="../static/js/bootstrap/bootstrap.min.js"></script>
  <script src="../static/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>